:root {
    --blue: #2B2E79;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #FF0000;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --gray: #6c757d;
    --gray-dark: #000102;
    --light: #F4F4F2;
    --black: #000000;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    color: var(--light);
    font-family: 'Roboto Mono', monospace;
}

.container {
    display:grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container .logo {
    font-size: 8rem;
    font-weight: 200;
    letter-spacing: .1rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}
.footer .block {
    font-size: .6rem;
    letter-spacing: .1rem;
}
.footer .block a {
    color: var(--gray);
    text-decoration: none;
    text-transform: uppercase;
}

@media only screen and (max-width: 700px) {
    .container .logo {
        font-size: 4rem;
    }
    .footer .block {
        font-size: .4rem;
    }
}